.register-page {
  height: 100%;
  width:100%;
  margin: 0 auto;
  position: fixed;
  background-color: rgb(65, 65, 65);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-heading{
  text-align: center;
  color: #ffffff;
}

.register-form > .register-heading{
  margin-top:-10px;
}

form {
  display: flex;
  flex-direction: column;
}

.register-label {
  margin-bottom: 10px;
  color:#fff;
}

.register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height:30em;
  width:30em;
  border:none;
  border-radius: 1em;
  background-color: #333;
  padding:2em;
}

.register-row{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 10px;
  width:20em;

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  width:10em;
}

.link{
  color:#4caf50;
  text-decoration: none;
}

.btn-blue{
  padding: 5px 5px;
  background-color: #356adc;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}