.task-page {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.add-task-container {
  display: flex;
  margin-bottom: 20px;
}

.add-task-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.btn-green {
  margin-left: 10px;
  padding: 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  width:fit-content !important;
  height: fit-content !important;
}

.newTask{
  height: 1.7em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px 30px 10px 30px;
  border: none;
  border-radius: 0.5em;
  background-color: #333;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width:50em;
}

li input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}
.main-nav{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
}

.main-nav > .register-heading{
  margin: 0px;
  margin-left:3em;
}

.main-nav > button{
  margin-right:3em;
}

.btn-red {
  padding: 5px 10px;
  width:fit-content !important;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  height: fit-content !important;
}

.btn-red:hover {
  background-color: #9a0d0b;
}

.btn-blue {
  background-color: #0a6bbb;
}

.btn-blue:hover {
  background-color: #0d47a1;
}
